:root {
  --max-width: 2200px;
}

:root,
[data-theme="dark"] {
  --color-text: #fff;
  --color-bg: #27282c;
  --color-bg-accidental: #bebfc0;
}

[data-theme="light"] {
  --color-text: #000;
  --color-bg: #fff;
}

// Breakpoint mixins
$break-tablet: 768px;
$break-tablet--before: 767px;

// JetBrains Palette
:root {
  --jb-medium-grey: #7d7d7d;
  --jb-light-grey: #cdcdcd;
  --jb-amber: #f9a857;
  --jb-tangerine: #ec7b75;
  --jb-siena: #fb5502;
  --jb-crimson: #fb2046;
  --jb-carmine: #e32581;
  --jb-fuchsia: #d73cea;
  --jb-lilac: #9135e0;
  --jb-mauve: #961f8c;
  --jb-purple: #5e2495;
  --jb-blue: #5848f4;
  --jb-sky-blue: #05c1fd;
  --jb-green: #18d68c;
  --jb-lemon-yellow: #fcf84a;
}

// Global box model
*,
::before,
::after {
  box-sizing: border-box;
}

// Resets
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote,
body,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
li,
ol,
p,
pre,
table,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

// Defaults
html {
  font-family: sans-serif;
  font-size: 100%;
  color: #000;
  background: #fff;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  min-width: 300px;
  color: var(--color-text);
  background-color: var(--color-bg);
}

// 1.1 Header

.header-container {
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--spacing);
  --spacing: 15px;
  @media screen and (min-width: $break-tablet) {
    flex-wrap: nowrap;
  }
}

.globalnav-toggle {
  width: 30px;
  height: 30px;
  padding: 0;
  @media screen and (min-width: $break-tablet) {
    display: none;
  }
}

.globalnav {
  width: 100%;
  margin-top: var(--spacing);
  @media screen and (min-width: $break-tablet) {
    flex-grow: 2;
    width: auto;
    margin: 0 var(--spacing);
  }

  &__items {
    @media screen and (min-width: $break-tablet) {
      text-align: center;
    }
  }

  &__item {
    border-bottom: 1px solid var(--color-bg-accidental);

    a {
      display: block;
      padding: 10px 0;
    }

    @media screen and (min-width: $break-tablet) {
      display: inline-block;
      padding-right: var(--spacing);
      border-bottom: none;
    }
  }

  &__github {
    @media screen and (max-width: $break-tablet) {
      padding-top: 10px;
    }
  }
}
